:root {
  --body-background-color: #e5e5e5;
  --main-block-back-white: #ffff;
  --grey-text-color: #595959;
  --light-grey-text-color: #a8a8a8;
  --orange-text-color: #fb6d3a;
  --sidebar-background-color: #1e2939;
}
