/* Education */
.education-tittle {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  margin-bottom: 10px;
  margin-top: 45px;
}

.education-dates {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25px;
  color: var(--light-grey-text-color);
}

.education-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: var(--orange-text-color);
}

.education-type {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
}
