/* Main Styles */
.main-block {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  width: 1240px;
  min-height: 1754px;
  // box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  margin: 20px auto;

  &__content {
    background-color: var(--main-block-back-white);
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 80px 40px;
    margin: 40px 40px 40px 0px;
    width: 750px;
  }
}

/* Main Content Styles */
