/* Project Styles */

.project {
  margin-bottom: 50px;

  &-tittle {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.22;
    margin-bottom: 10px;
  }
}

.project-table {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--grey-text-color);

  &__link {
    display: block;
    color: var(--sidebar-background-color);
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    transition: color 0.4s, transform 0.5s, transform-origin 0.5s;
    transform: scale(1);
    transform-origin: top;

    &:hover {
      color: var(--orange-text-color);
      transition: color 0.4s, transform 0.5s, transform-origin 0.5s;
      transform: scale(1.1);
      transform-origin: top;
    }
  }

  &__link-github {
    display: block;
    color: var(--grey-text-color);
    transition: color 0.4s, transform 0.5s, transform-origin 0.5s;
    transform: scale(1);
    transform-origin: left top;

    &:hover {
      color: var(--orange-text-color);
      transition: color 0.4s, transform 0.5s, transform-origin 0.5s;
      transform: scale(1.1);
      transform-origin: left top;
    }
  }

  &__name {
    width: 130px;
    vertical-align: top;
  }

  &__list-tittle {
    font-size: 16px;
    font-weight: 700;
    padding: 0;
    margin: 0;
    color: var(--orange-text-color);
  }

  &__techs {
    font-size: 14px;
    font-weight: 500;
  }

  &__about {
    text-align: justify;
  }
}
